/*  CSS初期化はじめ(bodyのbackground-color以外)  */

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
 margin:0;
 padding:0;
 border:0;
 outline:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
}

body{
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
 display:block;
}

nav ul {
 list-style:none;
}

blockquote, q {
 quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
 content:'';
 content:none;
}

a {
 margin:0;
 padding:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
}

/* change colours to suit your needs */
ins {
 background-color:#ff9;
 color:#000;
 text-decoration:none;
}

/* change colours to suit your needs */
mark {
 background-color:#ff9;
 color:#000;
 font-style:italic;
 font-weight:bold;
}

del {
 text-decoration: line-through;
}

abbr[title], dfn[title] {
 border-bottom:1px dotted;
 cursor:help;
}

table {
 border-collapse:collapse;
 border-spacing:0;
}

/* change border colour to suit your needs */
hr {
 display:block;
 height:1px;
 border:0;
 border-top:1px solid #cccccc;
 margin:1em 0;
 padding:0;
}

input, select {
 vertical-align:middle;
}

/*  CSS初期化終わり  */
/* デフォルト始め　*/

.intro-wrapper{
  background: radial-gradient(circle farthest-side, white, transparent), url("image/sky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30vh;
  padding-bottom: 22.5vh;
}

.clinic-name-write{
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Noticia Text', serif;
  /* font-family: 'Noto Sans JP',sans-serif; */
  font-weight:400;
  font-size: 32px;
}

.remark-wrapper{
  width: 60%;
  height: auto;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 2rem;
  background-color: white;
  opacity: 0.7;
  text-align: center;
}

.remark{
  font-family: 'Open sans',sans-serif;
  /* font-family: 'Noticia Text', serif; */
  font-weight:400;
  font-size: 16px;
}

.date{
  font-family: 'monospace',sans-serif;
  font-weight:400;
  font-size: 12px;
}

.about-wrapper{
  width: auto;
  clear: both;
}

.section-title-first{
  position: relative;
  padding-top: calc(20vh + 1rem);
  padding-bottom: 1rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight:400;
  font-size: 40px;
  color: black;
  text-align: center;
}

.section-title-first::before{
    content: "";
    position: absolute;
    width: 20%;
    height: 1px;
    bottom: 0;
    left: 40%;
    border-bottom: 1px solid #98DBC6;
}

.about-contents-wrapper{
  clear: both;
  width: auto;
  height: auto;
  margin-top: 5vh;
  margin-left: 5%;
  margin-right: 5%;
}

.about-first-image{
  width: 90vw;
  height: calc(90vw / 640 * 427);
  background-image:url("image/hearing.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.about-first-subtitle{
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-top: 1rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight:400;
  font-size: 22px;
  background: #d0ecff;
  border-radius: 5px;
}

.about-first-detail{
  padding-top: 1rem;
  font-family: 'Georgia','arial',sans-serif;
  font-weight:400;
  font-size: 18px;
  line-height: 1.5;
  color: #777777;
}

.yellow-underline{
  background: linear-gradient(transparent 70%, yellow 70%);
  font-weight: bold;
}
/*
.about-first-subtitle::before{
  position: absolute;
  font-family: "Font Awesome 5 Free",sans-serif;
  font-weight: 900;
  content: '\f004';
  color: pink;
  left: calc(4em + 0.5rem);
  top: 1rem;
}
*/
.about-second-subtitle{
  position: relative;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight:400;
  font-size: 24px;
  color: black;
  background: #d0ecff;
  line-height: 1.4;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 0 5px 5px 5px;
}

.about-second-subtitle::after{
  position: absolute;
  font-family: "Font Awesome 5 Free",sans-serif;
  font-weight: 900;
  content: '\f00c Check';
  background: #2196F3;
  color: #fff;
  left: 0px;
  bottom: 100%;
  border-radius: 5px 5px 0 0;
  padding: 0.25rem;
  font-size: 0.7em;
  line-height: 1;
  letter-spacing: 0.05em;
}

.about-second-sickness-wide-wrapper{
  display: flex;
  width: auto;
  height: auto;
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #E1E3E4;
}

.about-second-sickness-narrow-wrapper{
  width: 35%;
  height: auto;
  margin-top: 1rem;
  border-radius: 5px;
  padding: 1rem 0.5rem 1rem 1.5rem;
  background-color: #83BAD6;
  /* text-align: center; */
}

.about-second-sickness{
  position: relative;
  color: white;
  font-size: 11px;
}

.about-second-sickness::before{
  position: absolute;
  font-family: "Font Awesome 5 Free",sans-serif;
  font-weight: 900;
  content: '\f00c';
  color: #fff;
  left: -1rem;
  bottom: 35%;
  /* padding: 0.25rem; */
  font-size: 0.7em;
  line-height: 1;
  letter-spacing: 0.05em;
}

.about-third-image{
  width: 90vw;
  height: calc(90vw / 640 * 427);
  background-image:url("image/counseling_man.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.about-third-subtitle{
  padding-top: 1rem;
  /* padding-left: 5vw; */
  font-family: 'Noto Sans JP', sans-serif;
  font-weight:400;
  font-size: 22px;
}

.about-third-detail{
  padding-top: 1rem;
  font-family: 'Georgia','arial',sans-serif;
  font-weight:400;
  font-size: 18px;
  line-height: 1.5;
  color: #777777;
}

.time-wide-wrapper{
  padding-bottom: 10rem;
  margin-left: 5%;
  margin-right: 5%;
  overflow: hidden;
}

.section-title{
  position: relative;
  padding-top: 10vh;
  padding-bottom: 1rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight:400;
  font-size: 40px;
  color: black;
  text-align: center;
}

.section-title::before{
    content: "";
    position: absolute;
    width: 10%;
    height: 1px;
    bottom: 0;
    left: 45%;
    border-bottom: 1px solid #98DBC6;
}

.time-wrapper-first{
  width: auto;
  height: auto;
  padding-left: 5%;
  padding-right: 5%;
  border-top: 2px dotted #98DBC6;
  border-bottom: 2px dotted #98DBC6;
  margin-top: 2rem;
}

.time-subtitle{
  padding-top: 1rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight:700;
  font-size: 16px;
  line-height: 1.5;
  color: #888888;
}

.time-detail{
  padding-bottom: 1rem;
  font-family: 'Open sans',sans-serif;
  font-weight:400;
  font-size: 16px;
  line-height: 1.5;
  color: #888888;
}

.time-wrapper{
  width: auto;
  height: auto;
  padding-left: 5%;
  padding-right: 5%;
  border-bottom: 2px dotted #98DBC6;
}

.payment-wrapper{
  width: auto;
  height: auto;
  padding: 0 1rem 1rem 1rem;
  border: 2px dotted #98DBC6;
  margin-bottom: 1rem;
}

.payment-title{
  text-align: center;
  padding-top: 1rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight:700;
  font-size: 16px;
  line-height: 1.5;
  color: #888888;
}

.payment-detail{
  padding-top: 1rem;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight:400;
  font-size: 16px;
  line-height: 1.5;
  color: #888888;
}

#paypal-button-container{
  padding-top: 1rem;
  padding-bottom: 0;
}

footer{
  width: 100vw;
  position: fixed;
  bottom: 0;
  background-color: #98DBC6;
  overflow: hidden;
}

.line-wrapper{
  float: left;
  padding-top: 2rem;
  padding-left: 2rem;
}

.line-link{
  height: 32px;
}

.mail-wrapper{
  float: right;
  width: auto;
  height: auto;
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
  margin-top: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  background-color: #5BC8AC;
  overflow: hidden;
  opacity: 0.85;
}

.mail-wrapper:hover{
  opacity: 1.0;
}

.mail-image{
  float: left;
  width: 1rem;
  height: 1rem;
  background-image:url("image/mail.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.mail-action{
  float: left;
  margin-left: 0.5rem;
  text-align: center;
  text-decoration:none;
  color: white;
}

/* デフォルト始め　*/

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .clinic-name-write{
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Noticia Text', serif;
    /* font-family: 'Noto Sans JP',sans-serif; */
    font-weight:400;
    font-size: 36px;
  }

  .about-contents-wrapper{
    clear: both;
    width: auto;
    height: auto;
    margin-top: 5vh;
    margin-left: 5%;
    overflow: hidden;
  }

  .about-first-image{
    float: left;
    width: 28.4vw;
    height: calc(28.4vw / 640 * 427);
    background-image:url("image/hearing.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .about-first-subtitle{
    position: relative;
    float: right;
    width: calc(50vw + 1rem);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: calc(5vw - 1rem);
    font-family: 'Noto Sans JP', sans-serif;
    font-weight:400;
    font-size: 22px;
    background: #d0ecff;
    border-radius: 5px;
  }
/*
  .about-first-subtitle::before{
    position: absolute;
    font-family: "Font Awesome 5 Free",sans-serif;
    font-weight: 900;
    content: '\f004';
    color: pink;
    left: calc(4em + 1rem);
    top: 1rem;
  }
*/
  .about-first-detail{
    float: right;
    width: 55vw;
    padding-top: 0;
    padding-left: 5vw;
    font-family: 'Georgia','arial',sans-serif;
    font-weight:400;
    font-size: 18px;
    line-height: 1.5;
    color: #777777;
  }

  .about-second-sickness-wide-wrapper{
    display: flex;
    width: auto;
    height: auto;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #E1E3E4;
  }

  .about-second-sickness-narrow-wrapper{
    width: 25%;
    height: auto;
    margin-top: 1rem;
    border-radius: 5px;
    padding: 1rem 0.5rem 1rem 1.5rem;
    background-color: #83BAD6;
    /* text-align: center; */
  }

  .about-second-sickness{
    position: relative;
    color: white;
    font-size: 16px;
  }

  .about-second-sickness::before{
    position: absolute;
    font-family: "Font Awesome 5 Free",sans-serif;
    font-weight: 900;
    content: '\f00c';
    color: #fff;
    left: -1rem;
    bottom: 35%;
    /* padding: 0.25rem; */
    font-size: 0.7em;
    line-height: 1;
    letter-spacing: 0.05em;
  }

  .about-third-image{
    float: left;
    width: 28.4vw;
    height: calc(28.4vw / 640 * 427);
    background-image:url("image/counseling_man.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .about-third-subtitle{
    float: right;
    width: 55vw;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 5vw;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight:400;
    font-size: 24px;
  }

  .about-third-detail{
    float: right;
    width: 55vw;
    padding-top: 1rem;
    margin-left: 5vw;
    font-family: 'Georgia','arial',sans-serif;
    font-weight:400;
    font-size: 18px;
    line-height: 1.5;
    color: #777777;
  }

  .time-wrapper{
    width: auto;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
    border-bottom: 2px dotted #98DBC6;
    overflow: hidden;
  }

  .payment-wrapper{
    float: left;
    width: 40%;
    height: auto;
    padding: 0 1rem 1rem 1rem;
    border: 2px dotted #98DBC6;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
  }

  .payment-title{
    text-align: center;
    padding-top: 1rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight:700;
    font-size: 16px;
    line-height: 1.5;
    color: #888888;
  }

  .payment-detail{
    padding-top: 1rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight:400;
    font-size: 16px;
    line-height: 1.5;
    color: #888888;
  }

  #paypal-button-container{
    width: 100%;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 0;
  }

  footer{
    width: auto;
    position: static;
    margin-top: 3rem;
    background-color: #98DBC6;
    overflow: hidden;
  }

  .line-wrapper{
    float: left;
    padding-top: 3rem;
    padding-left: 20vw;
  }

  .line-link{
    height: 48px;
  }

  .mail-wrapper{
    float: right;
    width: auto;
    height: auto;
    padding: 1rem 1rem;
    border-radius: 5px;
    margin-top: 3rem;
    margin-right: 20vw;
    margin-bottom: 3rem;
    background-color: #5BC8AC;
    overflow: hidden;
  }

  .mail-image{
    float: left;
    width: 1rem;
    height: 1rem;
    background-image:url("image/mail.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .mail-action{
    float: left;
    margin-left: 0.5rem;
    text-align: center;
    text-decoration:none;
    color: white;
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .clinic-name-write{
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Noticia Text', serif;
    /* font-family: 'Noto Sans JP',sans-serif; */
    font-weight:400;
    font-size: 40px;
  }

  .about-second-sickness-wide-wrapper{
    display: flex;
    width: auto;
    height: auto;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #E1E3E4;
  }

  .about-second-sickness-narrow-wrapper{
    width: 22.5%;
    height: auto;
    margin-top: 1rem;
    border-radius: 5px;
    padding: 1rem 0.5rem 1rem 1.5rem;
    background-color: #83BAD6;
    /* text-align: center; */
  }

  .about-second-sickness{
    position: relative;
    color: white;
  }

  .about-second-sickness::before{
    position: absolute;
    font-family: "Font Awesome 5 Free",sans-serif;
    font-weight: 900;
    content: '\f00c';
    color: #fff;
    left: -1rem;
    bottom: 35%;
    /* padding: 0.25rem; */
    font-size: 0.7em;
    line-height: 1;
    letter-spacing: 0.05em;
  }

  .time-wide-wrapper{
    padding-bottom: 0;
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
  }

  .time-wrapper-first{
    width: auto;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
    border-top: 2px dotted #98DBC6;
    border-bottom: 2px dotted #98DBC6;
    margin-top: 2rem;
  }

  .time-subtitle{
    padding-top: 1rem;
    /* font-family: 'Open sans',sans-serif; */
    font-family: 'Noto Sans JP', sans-serif;
    font-weight:700;
    font-size: 16px;
    line-height: 1.5;
    color: #888888;
  }

  .time-detail{
    font-family: 'Open sans',sans-serif;
    font-weight:400;
    font-size: 16px;
    line-height: 1.5;
    color: #888888;
  }

  .time-wrapper{
    width: auto;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
    border-bottom: 2px dotted #98DBC6;
    overflow: hidden;
  }

  .payment-wrapper{
    float: left;
    width: 40%;
    height: auto;
    padding: 0 1.5rem 1rem 1.5rem;
    border: 2px dotted #98DBC6;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
  }

  .payment-title{
    text-align: center;
    padding-top: 1rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight:700;
    font-size: 16px;
    line-height: 1.5;
    color: #888888;
  }

  .payment-detail{
    padding-top: 1rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight:400;
    font-size: 16px;
    line-height: 1.5;
    color: #888888;
  }

  #paypal-button-container{
    width: 100%;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 0;
  }

  .line-wrapper{
    float: left;
    padding-top: 3rem;
    padding-left: 20vw;
  }

  .line-link{
    height: 68px;
  }

  .mail-wrapper{
    float: right;
    width: auto;
    height: auto;
    padding: 1.5rem 2rem;
    border-radius: 5px;
    margin-top: 3rem;
    margin-right: 20vw;
    margin-bottom: 3rem;
    background-color: #5BC8AC;
    overflow: hidden;
  }

  .mail-image{
    float: left;
    width: 1.5rem;
    height: 1.5rem;
    background-image:url("image/mail.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .mail-action{
    float: left;
    margin-left: 0.5rem;
    text-align: center;
    text-decoration:none;
    color: white;
    font-size: 20px;
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  .clinic-name-write{
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Noticia Text', serif;
    /* font-family: 'Noto Sans JP',sans-serif; */
    font-weight:400;
    font-size: 42px;
  }

  .about-contents-wrapper{
    clear: both;
    width: auto;
    height: auto;
    margin-top: 5vh;
    margin-left: 5%;
    overflow: hidden;
  }

  .about-first-image{
    float: left;
    width: 28.4vw;
    height: calc(28.4vw / 640 * 427);
    background-image:url("image/hearing.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .about-first-subtitle{
    position: relative;
    float: right;
    width: 52.5vw;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 2.5vw;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight:400;
    font-size: 24px;
    background: #d0ecff;
    border-radius: 5px;
  }
/*
  .about-first-subtitle::before{
    position: absolute;
    font-family: "Font Awesome 5 Free",sans-serif;
    font-weight: 900;
    content: '\f004';
    color: pink;
    left: calc(4em + 1rem);
    top: 1rem;
  }
*/
  .about-first-detail{
    float: right;
    width: 55vw;
    padding-top: 0;
    padding-left: 5vw;
    font-family: 'Georgia','arial',sans-serif;
    font-weight:400;
    font-size: 18px;
    line-height: 1.5;
    color: #777777;
  }

  .about-second-sickness-wide-wrapper{
    display: flex;
    width: auto;
    height: auto;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #E1E3E4;
  }

  .about-second-sickness-narrow-wrapper{
    width: 22.5%;
    height: auto;
    margin-top: 1rem;
    border-radius: 5px;
    padding: 1rem 0.5rem 1rem 1.5rem;
    background-color: #83BAD6;
    /* text-align: center; */
  }

  .about-second-sickness{
    position: relative;
    color: white;
  }

  .about-second-sickness::before{
    position: absolute;
    font-family: "Font Awesome 5 Free",sans-serif;
    font-weight: 900;
    content: '\f00c';
    color: #fff;
    left: -1rem;
    bottom: 35%;
    font-size: 0.7em;
    line-height: 1;
    letter-spacing: 0.05em;
  }

  .about-third-image{
    float: left;
    width: 28.4vw;
    height: calc(28.4vw / 640 * 427);
    background-image:url("image/counseling_man.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .about-third-subtitle{
    float: right;
    width: 55vw;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 0;
    margin-right: 2.5vw;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight:400;
    font-size: 24px;
  }

  .about-third-detail{
    float: right;
    width: 55vw;
    padding-top: 1rem;
    margin-left: 0;
    margin-right: 2.5vw;
    font-family: 'Georgia','arial',sans-serif;
    font-weight:400;
    font-size: 18px;
    line-height: 1.5;
    color: #777777;
  }

  .time-wide-wrapper{
    padding-bottom: 0;
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
  }

  .time-wrapper-first{
    width: auto;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
    border-top: 2px dotted #98DBC6;
    border-bottom: 2px dotted #98DBC6;
    margin-top: 2rem;
  }

  .time-subtitle{
    padding-top: 1rem;
    /* font-family: 'Open sans',sans-serif; */
    font-family: 'Noto Sans JP', sans-serif;
    font-weight:700;
    font-size: 16px;
    line-height: 1.5;
    color: #888888;
  }

  .time-detail{
    font-family: 'Open sans',sans-serif;
    font-weight:400;
    font-size: 16px;
    line-height: 1.5;
    color: #888888;
  }

  .time-wrapper{
    width: auto;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
    border-bottom: 2px dotted #98DBC6;
    overflow: hidden;
  }

  .payment-wrapper{
    float: left;
    width: 40%;
    height: auto;
    padding: 0 2rem 1rem 2rem;
    border: 2px dotted #98DBC6;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
  }

  .payment-title{
    text-align: center;
    padding-top: 1rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight:700;
    font-size: 16px;
    line-height: 1.5;
    color: #888888;
  }

  .payment-detail{
    padding-top: 1rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight:400;
    font-size: 16px;
    line-height: 1.5;
    color: #888888;
  }

  .line-wrapper{
    float: left;
    padding-top: 3rem;
    padding-left: 20vw;
  }

  .line-link{
    height: 66px;
  }

  .mail-wrapper{
    float: right;
    width: auto;
    height: auto;
    padding: 1.5rem 2rem;
    border-radius: 5px;
    margin-top: 3rem;
    margin-right: 20vw;
    margin-bottom: 3rem;
    background-color: #5BC8AC;
    overflow: hidden;
  }

  .mail-image{
    float: left;
    width: 1.5rem;
    height: 1.5rem;
    background-image:url("image/mail.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .mail-action{
    float: left;
    margin-left: 0.5rem;
    text-align: center;
    text-decoration:none;
    color: white;
    font-size: 18px;
  }

}
